tensorboardX
tensorboard
opencv-python
pymongo
albumentations
sacred
tqdm
numpy
munch
appdirs==1.4.3
asn1crypto==0.24.0
backcall==0.1.0
boto3==1.9.153
botocore==1.12.153
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.0.0
configparser==3.7.3
cryptography==3.3.2
databricks-cli==0.8.6
decorator==4.4.0
docker==4.0.1
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.14
entrypoints==0.3
Flask==1.0.3
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
gunicorn==19.9.0
gym==0.12.1
idna==2.8
ipython==7.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.11.3
jmespath==0.9.4
joblib==0.13.2
jsonpickle==0.9.6
MarkupSafe==1.1.1
mleap==0.8.1
nose==1.3.7
nose-exclude==0.5.0
olefile==0.46
packaging==19.0
pandas==0.24.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.1.1
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
py-cpuinfo==5.0.0
pycparser==2.19
pyglet==1.3.2
Pygments==2.7.4
pyOpenSSL==19.0.0
pyparsing==2.4.0
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
querystring-parser==1.2.3
requests==2.22.0
s3transfer==0.2.0
scikit-learn==0.20.1
scipy==1.1.0
simplejson==3.16.0
six==1.12.0
smmap2==2.0.5
sqlparse==0.3.0
tabulate==0.8.3
torch==1.1.0
torchvision
traitlets==4.3.2
urllib3==1.24.3
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==0.15.4
wrapt==1.11.1
